html,
body,
.container1,
.container2 {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.container1,
.container2 {
  width: 50%;
  float: left;
}


.btn-container {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.btn-container button {
  margin-right: 10px;
}
